header{
	background-color:black;
	position:fixed;
	width:100%;
	top:0px;
	left:0px;
}
.header-container{
	width:78%;
	margin:auto;
	padding-top:10px;
	
}
.logo{
	width:33%;
}
.logo img:hover{
	 transform: scale(1.2);
	  transition: transform .4s
}
.title{
	float:right;
	color:#C8B26B;
	text-align:center;
	width:33%;
}
h3{
	color:#C8B26B;
}
nav li{
	display:inline;
	height:60px;
	
}
nav li a:hover {
  background-color: #C8B26B;
}
nav{
	float:right;
	width:33%;
	text-align:center;
}
.title div a:link {
  color: #C8B26B;
  text-decoration: none;
}
.title div a:hover {
  color: white;
}
nav div {
	font-size:26px;
}
main{
	background-color:#C8B26B;
}
.main-container{
	width:78%;
	margin:auto;
	padding:50px;
	padding-top:300px;
	margin:auto;
	text-align:center;
	
}
.main-container div{
border:black solid 2px;
}
.main-container img{
	border:black 2px solid;
	width:100%;
}
.main-container a img{
	width:31%;
	margin-left:12px;
	margin-top:10px;
}
.main-container a img:hover{
	 transform: scale(1.2);
	  transition: transform .90s
}
footer{
	background-color:black;
	height:300px;
}
.footer-container{
	width:90%;
	margin:auto;
	padding-top:30px;
}
.footer-container p {
	font-size:18px;
}
.hours{
	color:white;
	width:30%;
}
.address{
	color:white;
	width:30%;
	float:right;
}
.feedback{
	width:30%;
	float:right;
	color:white;
}
.copyright{
	color:black;
	text-align:center;
}
.piata{
	width:60%;
	margin:auto;
	padding:50px;
	padding-top:200px;
	margin:auto;
	text-align:center;
	
}
.piata div{
	border:black solid 2px;
	padding-bottom:90px;
	margin-top:20px;
	margin:auto;
	background-color:white;
}
.piata img{
	width:15%;
	margin-top:50px;
	
}
.piata p{
	width:90%;
	background-color:black;
	margin:auto;
	color:#C8B26B;
	font-size:20px;
}
aside{
	background-color:white;
	float:left;
	width:15%;
	margin-top:200px;
	margin-left:30px;
	text-align:center;
	border:black solid 2px;
}
.aside-container img{
	width:70%;
	margin-top:30px;
}
.aside-container img:hover{
	 transform: scale(1.2);
	  transition: transform .4s
}
aside h1{
	text-decoration:underline;
}
aside a:link {
  color: black;
}
aside a:hover {
  color: #C8B26B;
}