header{
	background-color:black;
	position:fixed;
	width:100%;
	top:0px;
	left:0px;
}
.header-container{
	width:78%;
	margin:auto;
	padding-top:10px;
	
}
.logo{
	width:33%;
}
.logo img:hover{
	 transform: scale(1.2);
	  transition: transform .4s
}
.title{
	float:right;
	color:#C8B26B;
	text-align:center;
	width:33%;
}
.title h1 {
	margin-bottom:0px;
}

h3{
	color:#C8B26B;
}
nav li{
	display:inline;
	height:60px;
	
}
nav li a:hover {
  background-color: #C8B26B;
}
nav{
	float:right;
	width:33%;
	text-align:center;
}
.title div a:link {
  color: #C8B26B;
  text-decoration: none;
}
.title div a:hover {
  color: white;
}
nav div {
	font-size:26px;
}
main{
	background-color:#E0E0E0;
}
.main-container{
	width:68%;
	margin:auto;
	padding:50px;
	padding-top:200px;
	margin:auto;
	text-align:center;
	font-weight:900;
	font-family:Ink Free;
}
.main-container div{
	border:black solid 2px;
	background-image: url("images/bezowe-tlo-zblizenie-tekstury-zmiety-papier-miejsce-miejsce-na-tekst-retro_213524-117.jpg");
    background-repeat: no-repeat;
	 background-size: cover;
	padding:40px;
}
.main-container img{
	border:black 2px solid;
	width:100%;
}
.main-container a img{
	width:31%;
	margin-left:12px;
	margin-top:10px;
}
.main-container a img:hover{
	 transform: scale(1.2);
	  transition: transform .90s
}
footer{
	background-color:black;
	height:300px;
}
.footer-container{
	width:90%;
	margin:auto;
	padding-top:30px;
}
.footer-container p {
	font-size:18px;
}
.hours{
	color:white;
	width:30%;
}
.address{
	color:white;
	width:30%;
	float:right;
}
.feedback{
	width:30%;
	float:right;
	color:white;
}
.social-media{
	text-align:center;
	padding:30px;
}
.copyright{
	color:black;
	text-align:center;
}
.piata{
	width:60%;
	margin:auto;
	padding:50px;
	padding-top:200px;
	margin:auto;
	text-align:center;
	
}
.piata div{
	border:black solid 2px;
	padding-bottom:90px;
	margin-top:20px;
	margin:auto;
	background-image: url("images/bezowe-tlo-zblizenie-tekstury-zmiety-papier-miejsce-miejsce-na-tekst-retro_213524-117.jpg");
    background-repeat: no-repeat;
	 background-size: cover; 
	 font-weight:900;
	font-family:Ink Free;
}
.piata img{
	width:15%;
	margin-top:50px;
	
}
.piata p{
	width:90%;
	background-color:white;
	margin:auto;
	color:black;
	font-size:20px;
}
aside{
	background-image: url("images/bezowe-tlo-zblizenie-tekstury-zmiety-papier-miejsce-miejsce-na-tekst-retro_213524-117.jpg");
    background-repeat: no-repeat;
	 background-size: cover; 
	float:left;
	width:15%;
	margin-top:200px;
	margin-left:30px;
	margin-right:30px;
	text-align:center;
	border:black solid 2px;
}
.aside-container img{
	width:70%;
	margin-top:30px;
}
.aside-container img:hover{
	 transform: scale(1.2);
	  transition: transform .4s
}
aside h1{
	text-decoration:underline;
}
aside a:link {
  color: black;
}
aside a:hover {
  color: #C8B26B;
}
.contact-container{
	width:100%;
	padding-top:130px;
	margin:auto;
	text-align:center;
}
.div1{
	border:black solid 2px;
	 background-image: url("images/contact-us(1).jpg");
    background-repeat: no-repeat;
	 background-size: cover; 
	 height:400px;
	 background-position: center;
	 margin-bottom:40px;
	
}
.div2{

	width:40%;
	margin:auto;
	border:black solid 2px;
}
.div1 h1{
	color:white;
	padding-top:70px;
	font-size:50px;
}
.contact-container p{
	font-size:28px;
}
form{
	background-image: url("images/bezowe-tlo-zblizenie-tekstury-zmiety-papier-miejsce-miejsce-na-tekst-retro_213524-117.jpg");
    background-repeat: no-repeat;
	 background-size: cover; 
}
.div3{
	border:black solid 2px;
	 background-image: url("images/restaurant21.jpg");
    background-repeat: no-repeat;
	 background-size: cover; 
	 height:400px;
	 background-position: center;
	 margin-top:40px;
	 color:white;
	 
}
.div3 p{
	font-size:22px;
	text-align:justify;
	width:70%;
	margin:auto;
	padding-top:50px;
}
.contact-container a:hover {
  color: #C8B26B;
}
.special img{
	border:black solid 2px;
	width:78%;
	margin-right:0px;
	text-align:right;
}
.special h1{
	padding-top:220px;
	padding-bottom:50px;
	text-align:center;
	font-family:Ink Free;
}
